
.ve-input-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  margin-bottom: 10px;

  .ve-input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }

  .ve-btn {
    border-left: none;
  }

}

.ve-input {
  display: block;
  width: 100%;
  height: 32px;
  padding: 5px 10px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ve-btn {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: (32-2*1-5*2)*1px;
}

.ve-select {
  position: relative;
  min-width: 60px;
  line-height: 26px;
  margin: 6px 6px 6px 0;
  padding: 0 20px 0 10px!important;
  border-right: 1px solid #ddd;
  i {
    position: absolute;
    right: 10px;
    top: 50%;
    margin-top: -2px;
  }
  &:hover {
    background: transparent!important;
    color: #000;
  }
}

.ve-select-dropdown {
  width: 176px;
  padding: 5px 10px;
  position: absolute;
  top: 39px;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  //border-top: none;
  margin-left: -7px;
}

.ve-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.ve-popover {
  font-size: 14px;
  position: absolute;
  background-color: #fff;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.pop-arrow {
  position: absolute;
  left: 50%;
  top: -10px;
  margin-left: -10px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid rgba(0,0,0,.25);
  &:after {
    position: absolute;
    left: -10px;
    top: 1px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    content: "";
    border-bottom: 10px solid #fff;
  }
}
.pop-header {
  background: #f7f7f7;
  padding: 8px 14px;
  border-bottom: 1px solid #ebebeb;
}
.pop-body {
  padding: 8px;
}

.ve-dialog {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px;
  border: 1px solid #ccc;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.dialog-header {
  background: #f7f7f7;
}
.dialog-body {

}