
.ve-input-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;

  margin-bottom: 10px;

  .ve-input {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
  }

  .ve-btn {
    border-left: none;
  }

}

.ve-input {
  display: block;
  width: 100%;
  height: 32px;
  padding: 5px 10px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.ve-btn {
  display: inline-block;
  padding: 5px 10px;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  border: 1px solid #ccc;
  color: #333;
  background-color: #fff;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: (32-2*1-5*2)*1px;
}

[class^=triangle] {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  transition: 200ms;
}
.triangle-down {
  transform: rotate(0deg);
}
.triangle-up {
  transform: rotate(-180deg);
}