
@import "reset.less";
@import "common.less";
@import "icon.less";


.vueditor {
  display: flex;
  flex-direction: column;
}
.ve-design,
.ve-code {
  flex: 1;
}
.ve-design iframe {
  width: 100%;
  height: 100%;
  display: block; /*iframe默认为inline-block, 会造成底部与父元素的间隔*/
}

.ve-code {
  overflow-y: auto;
  .CodeMirror {
    height: auto;
  }
}