ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
label {
  font-weight: normal;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: black;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: black;
}
hr {
  margin: 10px 0;
}
html {
  font-size: 16px;
}
