ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}
label {
  font-weight: normal;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  color: black;
}
a:focus,
a:hover {
  text-decoration: none;
  outline: none;
  color: black;
}
hr {
  margin: 10px 0;
}
html {
  font-size: 16px;
}
.ve-toolbar {
  position: relative;
  height: 37.5px;
  border: 1px solid #ddd;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.ve-toolbar .ve-toolbar-wrap {
  overflow: hidden;
  height: 36px;
}
.ve-toolbar .ve-toolbar-wrap .ve-toolbar-item {
  float: left;
}
.ve-toolbar .ve-toolbar-wrap .ve-toolbar-item > a {
  display: inline-block;
  padding: 8px 12px;
  color: rgba(0, 0, 0, 0.6);
}
.ve-toolbar .ve-toolbar-wrap .ve-toolbar-item > a:hover,
.ve-toolbar .ve-toolbar-wrap .ve-toolbar-item > a.active {
  background: #eee;
  color: #000;
}
.fa {
  vertical-align: middle;
}
.colorpicker {
  width: 192px;
  height: 165px;
  padding: 5px;
  position: absolute;
  top: 37px;
  z-index: 1000;
  background: #fff;
  border: 1px solid #ccc;
  border-top: none;
}
.colorpicker li a {
  width: 22px;
  height: 22px;
  margin: 4px;
  float: left;
}
.ve-body {
  border: 1px solid #ddd;
  border-top: none;
}
.ve-iframe {
  width: 100%;
}
